# SOURCE: https://www.ibm.com/docs/api/v1/content/SSRHPA_cd/appsuite/install/dependencies/system_requirements.html
# ACCESSED: 2026-08-12

System requirements
System requirements
Ensure that you understand the system requirements in the Software Product Compatibility
Reports (SPCR) for your Maximo® Application Suite installation. System requirements
differ depending on the applications that you plan to deploy, and the size requirements of these
applications.
Creating Software Product Compatibility Reports (SPCR)
Go to the Software Product Compatibility Reports page.
From the menu, select the type of report to create, for example Detailed system
requirements.
Search for Maximo Application Suite and select the product version for which to create
a report.
Click Submit to create the report.
Tip: You can download the created SPCR report as a PDF, or bookmark a permanent link to
the page for reference.
Maximo Application Suite requirements
 Maximo Application Suite requirements include considerations for your cluster and application components.
Maximo Application Suite instance requirements
Review the requirements for planning your instance of Maximo Application Suite. You must provide the instance name, domain name, and workspace ID when you install and set up Maximo Application Suite. These values are used to create the user interface URLs for Maximo Application Suite and its applications.
Workstation requirements
To accept the license during installation, the workstation on which you run the Maximo Application Suite installer must have a Java Runtime Environment configured.
Application-specific requirements
 Maximo Application Suite application-specific requirements include considerations such as workload calculations and persistent storage requirements.
Requirements to install in an existing Red Hat OpenShift cluster
Review the following considerations if you plan on installing Maximo Application Suite in an existing Red Hat® OpenShift® cluster.
Sharing common services across Maximo Application Suite instances
In order to most efficiently utilize available resources it may be desirable to share some services across multiple Maximo Application Suite ( Maximo Application Suite) instances. The following Maximo Application Suite dependencies provide services which can be shared by multiple Maximo Application Suite instances, either in the same Red Hat OpenShift cluster or across various Red Hat OpenShift cluster.
Related concepts
Requirements and capacity planning
